#root {
  /* max-width: 1280px; */
  margin: 0 0;
  padding: 0 0;
}

.mainWrapper {
  text-align: center;
}

.loginWrapper {
  text-align: center;
}

.form {
  width: 400px;
  height: 190px;
  padding: 30px;
  margin: auto;
  background-color: aliceblue;
}
.form-fields {
  padding-bottom: 15px;
}
.aadharCard {
  padding: 10px;
  background-color: aliceblue;
  margin: auto;
  height: auto;
  width: 500px;
}

.myAadhar {
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
}

.orangeLine {
  margin: 0px;
  background-color: orange;
}

.form-error {
  color: red;
  text-align: left;
  margin-top: 0;
}
.greenLine {
  margin-top: 5px;
  width: 200px;
  background-color: green;
}

.nameContent {
  margin-bottom: 10px;
}

.profileLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.content {
  margin: 0px;
}

.mainContent {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.aadharNumber {
  line-height: 0px;
  margin-top: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
